@page "/"
@using AdvancedActions.Data
@using Newtonsoft.Json
@using System.Text
<PageTitle>Dogs</PageTitle>

<h1>Look at these cute dogs!</h1>
<center>
  <div id="content">
@if (photos != null && photos.Length > 0)
{
    @foreach (Photo url in photos)
    {
        <div>
            <a href="@url.Url">
                <img src="@url.Url" style="height:200px; width: 200px" />
            </a>
            <div class="desc">@url.Name</div>
        </div>
    }
}
</div>
</center>
@code {
    private Photo[]? photos;

    protected override async Task OnInitializedAsync()
    {
        string json = await ReadTextAsync("dogs.json");
        photos = JsonConvert.DeserializeObject<Photo[]>(json);
    }

    public Task<string> ReadTextAsync(string filePath)
    {
        var task = new Task<string>(() =>
        {
            using (FileStream sourceStream = new FileStream(filePath,
    FileMode.Open, FileAccess.Read, FileShare.Read,
    bufferSize: 4096, useAsync: true))
            {
                StringBuilder sb = new StringBuilder();

                byte[] buffer = new byte[0x1000];
                int numRead;
                while ((numRead = sourceStream.Read(buffer, 0, buffer.Length)) != 0)
                {
                    string text = Encoding.ASCII.GetString(buffer, 0, numRead);
                    sb.Append(text);
                }

                return sb.ToString();
            }
        });
        task.Start();
        return task;
    }
}
